@font-face {
  font-family: 'Font Name';
  src: url('#{$font-path}subset-FontName.eot');
  src: url('#{$font-path}subset-FontName.eot?#iefix') format('embedded-opentype'),
      url('#{$font-path}subset-FontName.woff2') format('woff2'),
      url('#{$font-path}subset-FontName.woff') format('woff'),
      url('#{$font-path}subset-FontName.ttf') format('truetype'),
      url('#{$font-path}subset-FontName.svg#FontName') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins Regular';
  src: url('#{$font-path}subset-Poppins-Regular.eot');
  src: url('#{$font-path}subset-Poppins-Regular.eot?#iefix') format('embedded-opentype'),
      url('#{$font-path}subset-Poppins-Regular.woff2') format('woff2'),
      url('#{$font-path}subset-Poppins-Regular.woff') format('woff'),
      url('#{$font-path}subset-Poppins-Regular.ttf') format('truetype'),
      url('#{$font-path}subset-Poppins-Regular.svg#FontName') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins SemiBold';
  src: url('#{$font-path}subset-Poppins-SemiBold.eot');
  src: url('#{$font-path}subset-Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('#{$font-path}subset-Poppins-SemiBold.woff2') format('woff2'),
      url('#{$font-path}subset-Poppins-SemiBold.woff') format('woff'),
      url('#{$font-path}subset-Poppins-SemiBold.ttf') format('truetype'),
      url('#{$font-path}subset-Poppins-SemiBold.svg#FontName') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Regular';
  src: url('#{$font-path}subset-Roboto-Regular.eot');
  src: url('#{$font-path}subset-Roboto-Regular.eot?#iefix') format('embedded-opentype'),
      url('#{$font-path}subset-Roboto-Regular.woff2') format('woff2'),
      url('#{$font-path}subset-Roboto-Regular.woff') format('woff'),
      url('#{$font-path}subset-Roboto-Regular.ttf') format('truetype'),
      url('#{$font-path}subset-Roboto-Regular.svg#FontName') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Medium';
  src: url('#{$font-path}subset-Roboto-Medium.eot');
  src: url('#{$font-path}subset-Roboto-Medium.eot?#iefix') format('embedded-opentype'),
      url('#{$font-path}subset-Roboto-Medium.woff2') format('woff2'),
      url('#{$font-path}subset-Roboto-Medium.woff') format('woff'),
      url('#{$font-path}subset-Roboto-Medium.ttf') format('truetype'),
      url('#{$font-path}subset-Roboto-Medium.svg#FontName') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Merriweather';
  src: url('#{$font-path}subset-Merriweather-BlackItalic.eot');
  src: url('#{$font-path}subset-Merriweather-BlackItalic.eot?#iefix') format('embedded-opentype'),
      url('#{$font-path}subset-Merriweather-BlackItalic.woff2') format('woff2'),
      url('#{$font-path}subset-Merriweather-BlackItalic.woff') format('woff'),
      url('#{$font-path}subset-Merriweather-BlackItalic.ttf') format('truetype'),
      url('#{$font-path}subset-Merriweather-BlackItalic.svg#FontName') format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
