body {
  font-family: $base-font;
  font-size: $base-font-size;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

img[src$=".jpg"] {
  border-radius: rem(4);
}

#app {
  position: relative;
  overflow: hidden;
}

.full-stop {
  color: map-get($color, yellow);
}
