body {
  font-family: $base-font;
  font-size: $base-font-size;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  border-radius: rem(4);
}

#app {
  position: relative;
  overflow: hidden;
}
