.regulation {
  padding: rem(80) 0;

  .title {
    .subt-3 {
      font-weight: 600;
      margin-bottom: rem(20);
      color: map-get($color, black-1);
    }
  }

  .paragraph + .title{
    margin-top: rem(40);
  }

  .paragraph {
    color: map-get($color, black-2);
    max-width: 75ch;
    margin-bottom: rem(20);
  }
}