.depositions {
    background: map-get($color, yellow);

    .wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .photo-depositions {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 0px;
            }
        }
        
        .content-depositions {
            padding: rem(40) rem(40) rem(80) rem(80);
            margin: 0 auto;
            align-self: end;
            overflow: hidden;

            .paragraph-depositions {
                max-width: 32ch;
                font-size: rem(32);
                line-height: 1.25;
                font-family: $merriweather;
                font-weight: 900;
                color: map-get($color, yellow-5);
                margin-bottom: rem(32);

                p {
                    position: relative;
                }

                p::before {
                    content: '“';
                    font-size: rem(80);
                    color: map-get($color, yellow-7);
                    position: absolute;
                    left: rem(-50);
                    top: rem(-20);
                }

                p::after {
                    content: '”';
                    font-size: rem(80);
                    color: map-get($color, yellow-7);
                    position: absolute;

                }
            }

            cite {
                font-size: rem(18);
                line-height: 1.35;
                font-family: $poppins-regular;
                font-weight: 700;
                color: map-get($color, yellow-6);
            }
        }
    }

    /*RESPONSIVO - 767px*/
    @media screen and (max-width: $tablet-portrait-down) {
        .wrap {
            grid-template-columns: 1fr;
            text-align: center;
    
            .photo-depositions {
                img {
                    height: rem(200);
                }
            }
    
            .content-depositions{
                padding: rem(40) rem(30);
                justify-self: center;
                margin: 0 auto;
    
                .paragraph-depositions {
                    padding: 0 rem(24);
                    font-size: rem(24);
                    margin-bottom: rem(24);
                }
            }
        }
    }
}
