.header {
  background: map-get($color, black);

    .container {

        .wrap {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-wrap: wrap;
          gap: rem(20);
          padding-top: rem(20);
          padding-bottom: rem(20);
    
            nav {
                .header-menu {
                  display: flex;
                  flex-wrap: wrap;
                  gap: rem(40);
                  @include font-1-m;
    
                    li {
                        a {
                          display: inline-block;
                          padding: rem(16) 0;
                          color: map-get($color, white);
                          font-size: rem(18);
                          border-radius: rem(4);
                          position: relative;
                        }
    
                        a::after {
                          content: ""; 
                          display: block;
                          width: 0;
                          height: rem(2);
                          margin-top: rem(4);
                          background: map-get($color, white);
                          transition: 0.3s;
                          position: absolute;
                        }
    
                        a:hover::after {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

/*RESPONSIVO*/
@media screen and (max-width: $tablet-portrait-down) {
    .header {
        .container {
            .wrap {
                nav {
                    .header-menu {
                        gap: rem(20);

                        li {
                            a {
                                background: map-get($color, black-1);
                                padding: rem(12) rem(16);
                            }

                            a:hover:after {
                                display: none;
                            }

                            a:hover {
                                background: map-get($color, black-2);
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $mobile-only) {
    .header {
        .container {
            .wrap {
                margin-right: rem(28);

                nav {
                    .header-menu {
                        gap: rem(12);

                        li {
                            a {
                                padding: rem(8) rem(12);
                                font-size: rem(14);
                            }
                        }
                    }
                }
            }
        }
    }
}