.header {
  background: map-get($color, black);
//   width: 100%;
//   position: fixed;
  
  .container {
        .wrap {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-wrap: wrap;
          gap: rem(20);
          padding-top: rem(20);
          padding-bottom: rem(20);
    
            nav {
                .header-menu {
                  display: flex;
                  flex-wrap: wrap;
                  gap: rem(40);
                  @include font-1-m;
    
                    li {
                        a {
                          display: inline-block;
                          padding: rem(16) 0;
                          color: map-get($color, white);
                          font-size: rem(18);
                          border-radius: rem(4);
                          position: relative;
                        }
                    }
                }
            }
        }
    }

    /*RESPONSIVO | >= 768px*/
    @media screen and (min-width: $tablet-portrait-up) {
        .container {
            .wrap {
                nav {
                    .header-menu {
                        li {
                            a {
                                &::after {
                                    content: ""; 
                                    display: block;
                                    width: 0;
                                    height: rem(2);
                                    margin-top: rem(4);
                                    background: map-get($color, white);
                                    transition: 0.3s;
                                    position: absolute;
                                }
    
                                &:hover::after {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    /*RESPONSIVO | <= 767px*/
    @media screen and (max-width: $tablet-portrait-down) {
        .container {
            .wrap {
                nav {
                    .header-menu {
                        gap: rem(20);
                        
                        li {
                            a {
                                background: map-get($color, black-1);
                                padding: rem(12) rem(16);
                                
                                &:hover {
                                    background: map-get($color, black-2);
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    /*RESPONSIVO | <= 479px*/
    @media screen and (max-width: $mobile-only) {
        .container {
            .wrap {
                margin-right: rem(28);

                nav {
                    .header-menu {
                        gap: rem(12);

                        li {
                            a {
                                padding: rem(8) rem(12);
                                font-size: rem(14);
                            }
                        }
                    }
                }
            }
        }
    }
}

