.introduction {
    background: map-get($color, black);
    box-shadow: inset 0 rem(-120) #fff;

    .container {
        .wrap {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: rem(40);
            
            .content-introduction {
                align-self: end;
                padding-bottom: rem(200);
    
                .title-introduction {
                    @include font-1-xxl;
                    color: map-get($color, white);
                }
    
                .paragraph-introduction {
                    margin-bottom: rem(20);
                    font-family: $roboto-regular;
                    font-size: rem(24);
                    line-height: 1.5;
                    color: map-get($color, gray);
                 }
    
                 button {
                     font-family: $poppins-semibold;
                        
                    a {
                        font-weight: 600;  
                    }
                }
            }
    
            .photo-introduction {
                img {
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}

/*RESPONSIVO*/
@media screen and (max-width: $tablet-landscape-down) {
    .introduction {
        .container {
            .wrap {
                .content-introduction {
                    .title-introduction {
                        font-size: rem(48);
                    }

                    .paragraph-introduction {
                        font-size: rem(18);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $tablet-portrait-down) {
    .introduction {
        background: map-get($color, black-1);
        padding-top: rem(40);
        box-shadow: inset 0 rem(-60) map-get($color, white);

        .container {
            .wrap {
                grid-template-columns: 1fr;
                gap: rem(32);

                .content-introduction {
                    padding-bottom: rem(0);

                    .title-introduction {
                        font-size: rem(32);
                        margin-bottom: rem(16);
                    }

                    button {
                        padding: rem(12) rem(16);

                        a {
                            font-size: rem(16);
                        }
                    }
                }

                .photo-introduction {
                    img {
                        height: rem(300);
                        width: 100%;
                    }
                }
            }
        }
    }
}