.introduction {
    background: map-get($color, black);
    box-shadow: inset 0 rem(-120) #fff;

    @include display($tablet-portrait-down) {
        background: map-get($color, black-1);
        padding-top: rem(40);
        box-shadow: inset 0 rem(-60) map-get($color, white);
    }

    .introduction-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: rem(40);

        /*RESPONSIVO*/
        @include display($tablet-portrait-down) {
            grid-template-columns: 1fr;
            gap: rem(32);
        }
        
        .content-introduction {
            align-self: end;
            padding-bottom: rem(200);

            @include display ($tablet-portrait-down) {
                padding-bottom: rem(0);
            }

            .title-introduction {
                margin-bottom: rem(32);
                font-size: rem(64);
                font-weight: bold;
                line-height: 1.125;
                color: map-get($color, white);

                span {
                    color: map-get($color, yellow);
                }

                /*RESPONSIVO*/
                @include display($tablet-landscape-down) {
                    font-size: rem(48);
                }
                
                @include display($tablet-portrait-down) {
                    font-size: rem(32);
                    margin-bottom: rem(16);
                }
            }

            .paragraph-introduction {
                margin-bottom: rem(20);
                font-size: rem(24);
                line-height: 1.5;
                color: map-get($color, gray);

                /*RESPONSIVO*/
                @include display($tablet-landscape-down) {
                    font-size: rem(18);
                }
             }

             button {

                 /*RESPONSIVO*/
                @include display($tablet-portrait-down) {
                    padding: rem(12) rem(16);
                }

                 a {

                    /*RESPONSIVO*/
                    @include display($tablet-portrait-down) {
                        font-size: rem(16);
                    }    
                 }
             }
        }

        .photo-introduction {
            margin-bottom: rem(-120);
            
            img {
                height: 100%;
                object-fit: cover;

                /*RESPONSIVO*/
                @include display ($tablet-portrait-down) {
                    height: rem(300);
                    width: 100%;
                }
            }
        }
    }
}