.paragraph {
  .pgph-1 {
    font-size: rem(16);
    line-height: 1.5;
    font-family: $poppins-regular;
    font-weight: 400;
  }
  .pgph-2 {
    font-size: rem(16);
    line-height: 1.5;
    font-family: $roboto-regular;
    font-weight: 400;
  }
}