.paragraph {
  .pgph-1 {
    font-size: rem(16);
    line-height: 1.5;
    font-family: $poppins-regular;
    font-weight: 400;
  }
  .pgph-2 {
    font-size: rem(16);
    line-height: 1.5;
    font-family: $roboto-regular;
    font-weight: 400;
  }

  .pgph-3 {
    font-size: rem(18);
    line-height: 1.35;
    font-family: $poppins-regular;
    font-weight: 600;
  }

  .pgph-4 {
    font-size: rem(24);
    line-height: 1.5;
    font-family: $roboto-regular;
    font-weight: 400;
  }

  .pgph-5 {
    font-size: rem(14);
    line-height: 1.43;
    font-family: $roboto-regular;
    font-weight: 400;
  }
}