$color: (
  white: #fff,
  white-1: #ededed,
  black: #000,
  black-1: #111,
  black-2: #2e2e2e,
  gray: #b2b2b2,
  gray-1: #595959,
  gray-2: #9c9c9c,
  yellow: #ffbb00,
  yellow-1: #ffbf00,
  yellow-2: #f2a50c,
  yellow-3: #ffb60d,
  yellow-4: #e59317,
  yellow-5: #332200,
  yellow-6: #664400,
  yellow-7: #e4a30b,
)

// map-get($color, colorName)
