$base-font: 'Font Name', sans-serif;
$base-font-size: 16px;
$base-line-height: 1em;

/*POPPINS*/
$poppins-semibold: 'Poppins SemiBold';
$poppins-regular: 'Poppins Regular';
$poppins-font-size: 16px;
$poppins-line-height: 1em;

/*ROBOTO*/
$roboto-regular: 'Roboto Regular';
$roboto-medium: 'Roboto Medium';
$roboto-font-size: 16px;
$roboto-line-height: 1em;